{% extends "base.twig" %}

{% block title %}{{ echoIf(producto_actual_codigo, "Gestionar Ventas", nombre) }}{% endblock %}
{% block metadata %}
    <link rel="stylesheet" href="{{ url("/public/assets/producto-editor/estilos.css") }}">
{% endblock %}

{% block content %}

    {% include "componentes/menu.twig" %}



    <div class="ventas">
        {% for i, venta in ventas %}
            <div class="{{ html_classes('ventas', {activa: venta_actual == venta}) }}">
                <a href="{{ url("/venta/", venta.id ) }}">
                    <p>Id de compra: {{ venta.id }}</p>
                </a>
                    <p>Usuario: {{ venta.usuario_id }}</p>
                    <p>Fecha de compra: {{ venta.fecha_compra }}</p>
                    <p>Dirección: {{ venta.direccion }}</p>
                <br><br>
            </div>
        {% endfor %}
    </div>



{% endblock %}
