{% extends "base.twig" %}

{% block title %}{{ echoIf(producto_actual_codigo, "Editar Producto", nombre) }}{% endblock %}
{% block metadata %}
    <link rel="stylesheet" href="{{ url("/public/assets/producto-editor/estilos.css") }}">
{% endblock %}

{% block content %}

    {% include "componentes/menu.twig" %}

    <div class="contenido">
        {% if completado and not producto_actual_codigo %}
            <div class="resultado">
                <div class="resultado-icon">
                    <p><i class="fas fa-check-circle fa-8x"></i></p>
                </div>
                <div class="resultado-contenido">
                    <h2>¡Producto creado!</h2>
                    <p>El producto fue generado con el código <strong>#{{ producto_codigo }}</strong></p>
                </div>
                <div class="resultado-opciones">
                    <a href="{{ url("/") }}" class="btn info">Ver los productos</a>
                    <a href="{{ url("/admin/producto-nuevo") }}" class="btn info">Agregar otro</a>
                </div>
            </div>
        {% else %}
            {% if (alerta) %}
                <div class="{{html_classes('alerta', {correcto: completado})}}">
                    <div class="alerta-header">
                        <h3>{{ echoIf(completado, "¡COMPLETADO!", "¡ERROR!") }}</h3>
                    </div>
                    <div class="alerta-content">
                        <p>{{ alerta }}</p>
                    </div>
                </div>
            {% endif %}
            <form method="POST">
                <div class="form-group">
                    <div class="input-custom">
                        <label class="input-custom__label" for="nombre">Nombre</label>
                        <div class="input-custom__contenido">
                            <div class="input-custom__icono">
                                <i class="fas fa-tag"></i>
                            </div>
                            <input minlength="10" value="{{ nombre }}" type="text" name="nombre" id="nombre" placeholder="Ingresa el nombre del producto" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-custom">
                        <label class="input-custom__label" for="descripcion">Descripción</label>
                        <div class="input-custom__contenido">
                            <div class="input-custom__icono">
                                <i class="fas fa-scroll"></i>
                            </div>
                            <textarea minlength="10" rows="4" type="text" name="descripcion" id="descripcion" placeholder="Ingresa la descripción" required>{{ descripcion }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-custom">
                        <label class="input-custom__label" for="categoria">Categoria</label>
                        <div class="input-custom__contenido">
                            <div class="input-custom__icono">
                                <i class="fas fa-list"></i>
                            </div>
                            <input minlength="5" value="{{ categoria }}" type="text" name="categoria" id="categoria" placeholder="Ingresa la categoria del producto" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-custom">
                        <label class="input-custom__label" for="precio">Precio</label>
                        <div class="input-custom__contenido">
                            <div class="input-custom__icono">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <input min="1" value="{{ precio }}" type="number" name="precio" id="precio" placeholder="Ingresa el precio" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-custom">
                        <label class="input-custom__label" for="stock">Stock</label>
                        <div class="input-custom__contenido">
                            <div class="input-custom__icono">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <input min="0" value="{{ stock }}" type="number" name="stock" id="stock" placeholder="Ingresa la cantidad de stock" required>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-center">
                    <button class="btn">{{ echoIf(producto_actual_codigo, "Guardar Cambios", "Agregar Producto") }}</button>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}
