{% extends "base.twig" %}

{% block title %}Iniciar Sesión{% endblock %}
{% block metadata %}
    <link rel="stylesheet" href="/public/assets/login/estilos.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="logo">
            {% include "componentes/logo.twig" %}
        </div>
        {% if (error) %}
            <div class="alerta">
                <div class="alerta-header">
                    <h3>¡ERROR!</h3>
                </div>
                <div class="alerta-content">
                    <p>{{ error }}</p>
                </div>
            </div>
        {% endif %}
        <form method="post" class="form">
            <div class="{{html_classes('form-group-dark', {error: error_nombre})}}">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" minlength="10" required>
            </div>
            <div class="{{html_classes('form-group-dark', {error: error_correo})}}">
                <label for="correo">Correo Electronico</label>
                <input type="email" name="correo" id="correo" required>
            </div>
            <div class="{{html_classes('form-group-dark', {error: error_contrasenia})}}">
                <label for="contrasenia">Contraseña</label>
                <input type="password" name="contrasenia" id="contrasenia" minlength="6" maxlength="16" required>
            </div>
            <div class="{{html_classes('form-group-dark', {error: error_contrasenia_confirmacion})}}">
                <label for="confirmar_contrasenia">Confirmar Contraseña</label>
                <input type="password" name="confirmar_contrasenia" id="confirmar_contrasenia" minlength="6" maxlength="16" required>
            </div>
            <div class="{{html_classes('form-group-dark', {error: error_direccion})}}">
                <label for="direccion">Dirección</label>
                <input type="text" name="direccion" id="direccion" minlength="10" required>
            </div>
            <div class="aviso">
                <button class="btn">Registrarse</button>
                <p>¿Ya estás registrado? <a href="/login">Iniciar Sesión</a></p>
            </div>
        </form>
    </div>
{% endblock %}
